<html>

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale•l">
        <title>Resume</title>

        <!-- Latest compiled and minified CSS (Get it from bootstarp website-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">

</head>
<body class="body">

<div class="container">
  <div class="row">
        <div class="col-md-2">
            <br>
            <a href="#">

            </a>
        </div>

    <div class="col-md-6">
        <h3 class="font-color1">Bruck Z</h3>
        <h5 class="font-color1"> Developer </h5>
        <img class="standardimage2 img" src="https://pbs.twimg.com/media/Cw_uxUUXcAEc31-.jpg"
             alt="Resume image" align="left" ><h6>3727 Berligh hill ct, Burtonsville, MD</h6>
        <img class="standardimage2 img" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/rounded-glossy-black-icons-business/086266-rounded-glossy-black-icon-business-envelope1.png"
             alt="Resume image" align="left" ><h6>20866</h6>
        <img class="standardimage2 img" src="https://media1.fdncms.com/orlando/imager/essential-information-for-orlando-and-ora/u/original/2326663/1472248.jpg"
             alt="Resume image" align="left" ><h6>202-415-1439</h6>
        <img class="standardimage2 img" src="https://www.aplin.com/hubfs/icons/search.svg?t=1509461543622"
             alt="Resume image" align="left" ><h6>www.bz.com</h6>

     </div>

     <div class="col-md-2">
<br>
         <a href="#">
             <img class="standardimage1 img" src="http://www.vectors4all.net/preview/floppy-disk.jpg">
        <img class="standardimage1 img" src="https://images.konga.com/v2/media/catalog/product//L/a/Laserjet-Pro-1102-Black-White-Toner-Body-White-Printer-6203762_1.jpg?h=400&w=400&scale_mode=aspect_fit">
        <img class="standardimage1 img" src="https://images-na.ssl-images-amazon.com/images/I/418obP8qfdL._SL500_AC_SS350_.jpg">
        <img class="standardimage1 img" src="http://webchicago.alsa.org/images/content/pagebuilder/twitter_logo.png">
         </a>
         <a href="https://github.com/BruckyZ/">
        <!--<img class="standardimage1 img" src="https://www.facebook.com/images/fb_icon_325x325.png">-->
         </a>

     </div>
  </div>
    <br>
        <br>
    <div class="row">
        <div class="col-md-2">
            <h5 class="font-color">OBJECTIVE</h5>
        </div>

         <div class="col-md-9">
            <h6>My objective is to be the best Web designer using my experiance and to ensure that my customers are happy with my work
                I am <br>detailed oriented, team player and eager to deliver my tasks in the best way as per the requirement  .</h6>
         </div>
    </div>
            <br>
            <br>
    <div class="row">
        <div class="col-md-12">
        <h5 class="font-color">EDUCATION</h5>
         </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h6 class="font-color">Jan 2009 - Dec 2010 </h6>
        </div>

        <div class="col-md-9">
            <h6>Addis Ababa University, Ethiopia </h6>
            <p class="font-size1">Database Management System/IT</p>

        </div>
    </div>
        <br>

    <div class="row">
        <div class="col-md-2">
            <h6 class="font-color">Jan 2007 - Dec 2009 </h6>
        </div>

        <div class="col-md-9">
            <h6>Addis Ababa University, Ethiopia </h6>
            <p class="font-size1">Bachelor of Administration</p>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <h5 class="font-color">EXPERIENCE</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h6 class="font-color">Oct 2015 - July 2017 </h6>
        </div>

        <div class="col-md-9">
            <h6>REI Systems,VA USA </h6>
            <p class="font-size1">Software Developer</p>

                <h6><span class="li"></span><span class="li1">Created different store procedures that performs data cleansing operation and load the data from source to the destination</span></h6>
                <h6><span class="li"></span><span class="li1">Resolved any performance issues by debugging long running queries<span class="font-color"> used execution plan</span> and document changes.</span></h6>


        </div>
    </div>
                <br>
    <div class="row">
        <div class="col-md-2">
            <h6 class="font-color">Jan 2010 - June 2012 </h6>

        </div>

        <div class="col-md-9">
            <h6>ILRI, Ethiopia </h6>
            <p class="font-size1">SQL DBA/Developer</p>

                <h6><span class="li"></span><span class="li1">Ensured that all data are online and troubleshoot when users have issues to login into the database.</span></h6>
                <h6><span class="li"></span><span class="li1">Created different indexes, identify and resolved queries that have an impact in the performance of the database. </span></h6>


        </div>
    </div>
        <br>

    <div class="row">
        <div class="col-md-12">
            <h5 class="font-color">SKILLS</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h6 class="font-color">Software Knowledge </h6>
        </div>

        <div class="col-md-2">
            <ul>
                <h6><span class="li"></span><span class="li1">Java</span></h6>
                <h6><span class="li"></span><span class="li1">SQL</span></h6>
                <h6><span class="li"></span><span class="li1">SSIS/DTS</span></h6>
            </ul>
        </div>

        <div class="col-md-2">
            <ul>
                <h6><span class="li"></span><span class="li1">HTML</span></h6>
                <h6><span class="li"></span><span class="li1">CSS</span></h6>
                <h6><span class="li"></span><span class="li1">Bootstarp</span></h6>
            </ul>

        </div>
        <div class="col-md-2">
                <ul>
                    <h6><span class="li"></span><span class="li1">Tableau</span></h6>
                    <h6><span class="li"></span><span class="li1">SSRS</span></h6>
                    <h6><span class="li"></span><span class="li1">Erwin</span></h6>
                </ul>
        </div>


    </div>


</div>
</body>
</html>